.card {
  margin-top: 50px;
  border: 1px solid #f8f8f8;
  padding: 30px;
  width: 210px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out;
  margin-right: 5px;

  &:hover{
    box-shadow: 0px 20px 35px rgb(0,0,0,0.07);
    transform: translateY(-5px);
  }

  h5 {
    font-weight: 400;
    font-size: 16px;
  }

  span {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 13px;

  }

  b {
    font-size: 13px;
  }

  .favorite {
    position: center;
    cursor: pointer;
  }
}

.cardButton{
  display: flex;
  justify-content: space-between;
  b{
    margin-left: 5px;
  }
}

.button{
  background: #FFFFFF;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}