header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 3px solid #f4f4f4;
  margin-bottom: 30px;

  .headerLeft{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  img{
    margin-right: 15px;
    margin-left: 10px;
  }
  .headerRight{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 40px;
  }
  h3, p{
    margin: 0;
  }
}
.plus{
  cursor: pointer;
}