body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d0e4f3;
}

.Wrapper {
  background: #FFFFFF;
  border: 2px solid rgba(185, 185, 185, 0.75);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}


.all {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  padding-left: 10px;

  h1 {
    margin: 0;
  }
}


.all-technic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  margin-right: 15px;
  display: flex;


  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
    outline: none;
  }

  img {
    padding-top: 10px;
  }
}

.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #f3f3f3;
  box-shadow: -10px 4px 24px rgb(0, 0, 0, 0.1);

  h2 {
    margin-left: 10px;
  }

  .items {
    overflow: auto;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1360px;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border: 1px solid #d8e0ef;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;

  p {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 40px;
  }

  b {
    margin-left: 10px;
    font-size: 14px;
  }
}

.removeBtn {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.allPrice {
  margin-top: 100px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-left: 0;

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
  }
}

.sale {
  display: flex;

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    margin-top: 14px;
  }
}

.cardTotalBlock {
  margin-left: 10px;
  padding: 0;
}

.button-new {
  margin-left: 50px;
  text-align: center;
  width: 300px;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;

}

.basket {
  display: flex;
  justify-content: space-between;

  img {
    padding-right: 55px;
    padding-top: 25px;
  }
}